<div class="panel">
	<p><%= description %></p>
	<button class="button-small button-spaced js-toggle-timer"><i class="icon icon-play"></i></button>
	<button class="button-small button-spaced js-reset-timer"><i class="icon icon-refresh"></i></button>
</div>

<div class="panel">
	<h3 class="panelTitle left"><i class="icon icon-time panelTitle--icon"></i>Timer</h3>
	<h3 class="panelTitle right">Next: 10:00</h3>
	<p class="currentTime">60:00</p>
</div>

<div class="panel">
	<h3 class="panelTitle left"><i class="icon icon-temperature panelTitle--icon"></i>Temperature</h3>
	<h3 class="panelTitle right">Desired: 100 &#186;C</h3>
	<p class="currentTemp currentTemp-ok">--</p>
</div>

<% for(var i=0;i<groups.length;i++) {
			var group = groups[i]; %>
		<div class="group" data-id="<%= group.id %>">
			<h3 class="group--title"><%= group.name %></h3>
			<div class="sortable">
				<% for(var j=0;j<group.steps.length;j++) {
							var step = group.steps[j]; %>
					<div class="recipeStep js-recipe-order" data-id="<%= step.id %>">
						<div class="clearfix">
							<p class="recipeStep--title"><span class="iconHolder"><i class="icon icon-circle iconHolder--icon"></i><span class="iconHolder--iconText js-step-number"><%= j + 1 %></span></span> <%= step.name %><% if (step.notification) { %><span class="recipeStep--meta recipeStep--meta--icon-glow"><i class="icon icon-volume-up"></i> </span><% } %><% if (step.sms) { %><span class="recipeStep--meta recipeStep--meta--icon-glow"><i class="icon icon-envelope"></i> </span><% } %></p>
							<p class="recipeStep--description"><%= step.description %></p>
							<p class="recipeStep--summary">Summary: <%= step.summary %></p>
						</div>
					</div>
				<% } %>
			</div>
		</div>
<% } %>
