<div class="panel">
  <h3 class="panelTitle left"><i class="icon icon-beer panelTitle--icon"></i>Editing recipe '<%= name %>'</h3>
  <div class="form form-bottomless">
    <label class="label">Name</label>
    <input data-property="name" class="input" type="text" value="<%= name %>" />

    <label class="label">Description</label>
    <textarea data-property="description" class="textarea textarea-bottomless"><%= description %></textarea>
  </div>
</div>

<div class="sortable">
  <% for(var i=0;i<steps.length;i++) {
        var step = steps[i]; %>
    <div class="recipeStep">
      <div class="clearfix">
        <div class="recipeStep--metaHolder">
          <div class="recipeStep--meta">
            <i class="icon icon-time recipeStep--meta--icon"></i>
            <span class="recipeStep--meta--text"> 60:00</span>
          </div>
          <div class="recipeStep--meta">
            <i class="icon icon-beaker recipeStep--meta--icon"></i>
            <span> 75.6 .C</span>
          </div>
          <span class="recipeStep--meta recipeStep--meta--icon"><i class="icon icon-volume-up"></i> </span>
          <span class="recipeStep--meta recipeStep--meta--icon"><i class="icon icon-envelope"></i> </span>
        </div>
        <p class="recipeStep--title"><span class="iconHolder"><i class="icon icon-circle iconHolder--icon"></i><span class="iconHolder--iconText"><%= i %></span></span><%= step.group.get('name') %>: <%= step.name %></p>
        <p class="recipeStep--description"><%= step.description %></p>
      </div>
    </div>
  <% } %>
</div>
