<div class="panel">
  <h3 class="panelTitle"><a href="/recipes" class="js-save-recipe"><i class="icon icon-angle-left panelTitle--icon"></i>Save and return to recipes</a></h3>
  <div class="errorHolder" id="errors" style="display: none;"></div>
  <div class="form form-bottomless">
    <label class="label">Name</label>
    <input data-property="name" class="input" type="text" value="<%= name %>" />

    <label class="label">Description</label>
    <textarea data-property="description" class="textarea textarea-bottomless"><%= description %></textarea>
  </div>
</div>

<% for(var i=0;i<groups.length;i++) {
      var group = groups[i]; %>
    <div class="group" data-id="<%= group.id %>">
      <h3 class="group--title"><%= group.name %> <i class="icon icon-plus right js-new-step"></i></h3>
      <div class="sortable">
        <% for(var j=0;j<group.steps.length;j++) {
              var step = group.steps[j]; %>
          <div class="recipeStep js-recipe-order" data-id="<%= step.id %>">
            <div class="clearfix">
              <div class="recipeStep--metaHolder">
                <% if (step.time) { %>
                  <div class="recipeStep--meta">
                    <i class="icon icon-time recipeStep--meta--icon"></i>
                    <span class="recipeStep--meta--text"> <%= step.time %>:00</span>
                  </div>
                <% } %>
                <% if (step.targetTemp) { %>
                  <div class="recipeStep--meta">
                    <i class="icon icon-beaker recipeStep--meta--icon"></i>
                    <span> <%= step.targetTemp %> &#186;C</span>
                  </div>
                <% } %>
                <span class="recipeStep--meta recipeStep--meta--icon <% if (!step.notification) { %>recipeStep--meta--icon-disabled<% } %>"><i class="icon icon-volume-up"></i> </span>
                <span class="recipeStep--meta recipeStep--meta--icon <% if (!step.sms) { %>recipeStep--meta--icon-disabled<% } %>"><i class="icon icon-envelope"></i> </span>
              </div>
              <p class="recipeStep--title js-edit-step"><span class="iconHolder"><i class="icon icon-circle iconHolder--icon"></i><span class="iconHolder--iconText"><%= j + 1 %></span></span> <%= step.name %> <i class="icon icon-pencil right"></i></p>
              <p class="recipeStep--description"><%= step.description %></p>
            </div>
          </div>
        <% } %>
      </div>
    </div>
<% } %>
<div class="panel">
  <p><a href="/recipes" class="panelText js-cancel-recipe">Cancel</a></p>
</div>
