<div class="panel">
	<h3 class="panelTitle"><i class="icon icon-volume-up panelTitle--icon"></i>Notification settings</h3>
	<div class="form">
		<label class="label">Notification sound</label>
		<div class="selectContainer">
			<select data-property="notification" class="select">
				<% for(var i=0;i<sounds.length;i++) {
							var sound = sounds[i]; %>
					<option value="<%= sound.id %>" <% if (sound.id == notification) { %> selected="true" <% } %>><%= sound.name %></option>
				<% } %>
			</select>
		</div>

		<label class="label">SMS number</label>
		<input data-property="sms" class="input" type="number" value="<%= sms %>" />

		<% if (devices && devices.length) { %>
			<label class="label">Temperature reader</label>
			<select data-property="device" class="select">
			<% devices.forEach(function(d) { %>
				<option value="<%= d.address %>" <% if (d.address == device) { %> selected="true" <% } %>><%= d.displayName %></option>
			<% }); %>
			</selected>
		<% } else { %>
			<p>No bluetooth devices detected</p>
		<% }%>
	</div>
</div>
