

<div class="panel">
	<h3 class="panelTitle"><a href="/recipe/edit/<%= recipe.id %>" class="js-save-step"><i class="icon icon-angle-left panelTitle--icon"></i>Save and return to <%= recipe.name ? recipe.name : 'unknown recipe' %></a></h3>
	<div class="errorHolder" id="errors" style="display: none;"></div>
	<div class="form form-bottomless">
		<label class="label">Name</label>
		<input data-property="name" class="input" type="text" placeholder="What's this step called?" value="<%= name %>" />

		<label class="label">Description</label>
		<textarea data-property="description" placeholder="Care to describe this step a little more?" class="textarea"><%= description %></textarea>

		<div class="clearfix">
			<label class="label">Desired Temp</label>
			<input data-property="targetTemp" class="input input--cross" type="number" value="<%= targetTemp %>" /><span class="input__cross icon icon-remove js-clear-input"></span>
		</div>

		<div class="clearfix">
			<label class="label">Step time</label>
			<input data-property="time" class="input input--cross" type="number" value="<%= time %>" /><span class="input__cross icon icon-remove js-clear-input"></span>
		</div>

		<div class="checkbox-holder">
			<label class="checkbox">
				<input type="checkbox" data-property="notification" <% if (notification) { %>checked="checked"<% }%>><i class="icon icon-volume-up checkbox--icon"></i>Play sound
			</label>
		</div>
		<div class="checkbox-holder">
			<label class="checkbox">
				<input type="checkbox" data-property="sms" <% if (sms) { %>checked="checked"<% }%>><i class="icon icon-comment checkbox--icon"></i>Send text
			</label>
		</div>

	</div>

	<p><a href="/recipe/edit/<%= recipe.id %>" class="panelText">Cancel</a></p>
</div>
